.message-input {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #1f242c;
  border-top: 1px solid #444; 
}

.message-input input {
  font-size: 15px;
  border: none;
  border-radius: 8px;
  padding: 15px 20px;
  width: 91%;
  margin-left: 8px;
  background-color: #1f242c;
  color: white;
}

.message-input button {
  border: none;
  padding: 10px 25px;
  cursor: pointer;
  border-radius: 8px;
  font-size: 20px;
  background-color: rgb(60, 70, 81);
  color: white;
  margin-left: 5px;
}

.message-input button:hover {
  background-color: rgb(68, 74, 80);
  transition: all 0.3s ease;
}
