.notifications-list{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.notification-item{
  background-color: #1f242c;
  height: 80px;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 20px;
  border-radius: 8px;
}

.notification-item:hover{
  background-color: #323944;
  transition: all 0.3s ease;
  cursor: pointer;
}